[submodule ".config/zsh"]
	path = .config/zsh
	url = https://github.com/bo1929/zshrc.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/bo1929/tmuxrc.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/bo1929/vimrc.git
