[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "plugins/tmux-continuum"]
	path = plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "plugins/tmux-yank"]
	path = plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "plugins/tmux-open"]
	path = plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "plugins/tmux-cpu"]
	path = plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "plugins/tmux-cowboy"]
	path = plugins/tmux-cowboy
	url = https://github.com/tmux-plugins/tmux-cowboy
[submodule "plugins/tmux-colors-solarized"]
	path = plugins/tmux-colors-solarized
	url = https://github.com/bo1929/tmux-colors-solarized
